---
import Button from "../components/ui/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import arrow from "../images/arrow.svg";
import teethImage from "../images/teeth.svg";
import toothbrushImage from "../images/toothbrush.svg";

import { content } from "../content/_landing";
import ServiceCard from "../components/ServiceCard.astro";
---

<BaseLayout title="SaltLakeCity.Dental">
  <main class="min-h-screen relative w-full overflow-x-hidden flex flex-col">
    <div
      class="size-[300px] lg:size-[700px] rounded-full absolute -top-[150px] left-[45%] bg-accent -z-10 blur-3xl opacity-70"
    >
    </div>
    <div
      class="size-[300px] lg:size-[700px] rounded-full absolute -top-[80px] left-[70%] bg-primary blur-3xl opacity-70 -z-20"
    >
    </div>
    <Image
      src={teethImage}
      alt="Teeth"
      class="absolute bottom-10 right-4 max-lg:size-32 lg:bottom-80 lg:right-80 lg:block"
    />

    <header
      class="container mx-auto w-full flex items-center p-4 lg:px-8 lg:py-4 lg:bg-background-200 lg:rounded-3xl lg:mt-5 opacity-100"
    >
      <h1 class="font-montserrat text-lg">{content.title}</h1>
      <nav
        class="hidden lg:flex items-center lg:gap-8 ml-auto text-black font-semibold text-md"
      >
        {
          content.navItems.map((item) => (
            <a href={item.url} class="">
              {item.title}
            </a>
          ))
        }
        <a
          href={content.navButton.url}
          class="bg-foreground text-white px-4 py-2 rounded-xl lg:ml-6"
        >
          {content.navButton.title}
        </a>
      </nav>

      <button
        class="lg:hidden ml-auto"
        aria-label="Open menu"
        aria-haspopup="true"
        aria-controls="mobile-menu"
        id="mobile-menu-button"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>

      <div class="hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <!-- <div
          class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-4 py-4 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
        >
        </div>
        <div
          class="size-[300px] lg:size-[700px] rounded-full absolute -top-[150px] left-[45%] bg-accent -z-20 blur-3xl opacity-70"
        >
        </div> -->
        <div
          class="size-[300px] lg:size-[700px] rounded-full absolute -top-[80px] left-[70%] bg-primary blur-3xl opacity-70 -z-30"
        >
          <div class="flex items-center justify-between">
            <a class="font-montserrat text-lg" href="/">{content.title}</a>

            <button
              type="button"
              class="-m-2.5 rounded-md p-2.5 text-gray-700"
              id="mobile-menu-button-close"
            >
              <span class="sr-only">Close menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root px-2">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-4 py-6 mt-10">
                {
                  content.navItems.map((item) => (
                    <a href={item.url} class="font-semibold block text-lg">
                      {item.title}
                    </a>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div
      class="h-full flex-grow container mx-auto flex flex-col items-center max-lg:mt-16 lg:justify-center gap-4 lg:gap-8 p-8"
    >
      <h2
        class="text-4xl lg:text-6xl font-mada lg:mt-10 leading-[50px] lg:leading-[80px] tracking-normal max-w-[500px] text-center"
      >
        {content.hero.title}
      </h2>
      <p
        class="font-medium text-lg lg:text-xl max-w-[530px] text-center lg:mt-3"
      >
        {content.hero.subtitle}
      </p>
      <Button> {content.hero.button.title} </Button>
      <div class="flex items-center gap-4">
        <span class="w-8 h-[0.5px] bg-foreground-200/50"></span>
        <span class="text-foreground-200/50 uppercase text-xs tracking-wider"
          >or</span
        >
        <span class="w-8 h-[0.5px] bg-foreground-200/50"></span>
      </div>
      <div class="flex items-center">
        <input
          type="email"
          placeholder="Email address"
          class="flex h-10 w-full lg:min-w-[230px] rounded-l-3xl border border-foreground/50 px-4 py-2 text-sm placeholder:text-foreground/50 disabled:cursor-not-allowed disabled:opacity-50 focus:outline-none"
        />
        <Button class="rounded-none rounded-r-3xl bg-foreground/50 text-white">
          Subscribe
        </Button>
      </div>
    </div>
  </main>
  <section id="meet-the-doctor" class="w-full lg:py-48 bg-background relative">
    <div
      class="absolute bottom-0 left-0 lg:bottom-10 lg:left-10 hidden lg:block"
    >
      <Image src={toothbrushImage} alt="Toothbrush" class="lg:scale-75" />
      <Image src={arrow} alt="Arrow" class="g:scale-75 lg:-translate-y-12" />
    </div>
    <div
      class="container mx-auto px-8 py-24 lg:px-48 lg:py-40 bg-primary-400 lg:rounded-[3rem]"
    >
      <h2 class="text-4xl lg:text-7xl font-mada text-center mb-16 lg:mb-32">
        {content.meetTheDoctor.title}
      </h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-4">
        <div class="">
          <Image
            src={content.meetTheDoctor.doctorProfile}
            alt="Dr. Cierra Diamse"
            class="rounded-3xl mx-auto max-lg:w-60"
          />
        </div>
        <div class="mx-auto">
          <p class="lg:text-lg max-w-[500px]">
            <span class="font-bold text-xl block mb-2">
              {content.meetTheDoctor.doctorName}
            </span>
            {content.meetTheDoctor.doctorDescription}
          </p>
          <h3 class="text-lg font-semibold my-6">
            {content.meetTheDoctor.expertise.title}
          </h3>
          <ul class="font-semibold list-disc pl-5">
            {
              content.meetTheDoctor.expertise.list.map((item) => (
                <li>{item}</li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section
    id="transforming-smiles"
    class="bg-foreground-200 py-12 md:py-20 lg:py-28"
  >
    <div
      class="container mx-auto flex flex-col items-center gap-2 md:gap-4 lg:gap-8"
    >
      <h2
        class="text-4xl lg:text-6xl text-white text-center p-6 max-w-[600px] lg:leading-snug font-mada"
      >
        {content.transformingSmiles.title}
      </h2>
      <div
        class="bg-white grid grid-cols-1 lg:grid-cols-2 gap-20 lg:gap-48 rounded-3xl py-16 lg:py-24 px-16 lg:px-48 lg:w-full"
      >
        <div class="flex flex-col items-center justify-center mx-auto gap-4">
          <Image
            src={content.transformingSmiles.before.image}
            alt="Before"
            class="size-48 lg:size-72"
          />
          <p class="text-lg">
            {content.transformingSmiles.before.description}
          </p>
        </div>
        <div class="flex flex-col items-center justify-center mx-auto gap-4">
          <Image
            src={content.transformingSmiles.after.image}
            alt="After"
            class="size-48 lg:size-72"
          />
          <p class="text-lg">
            {content.transformingSmiles.after.description}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="bg-background py-12 md:py-24 lg:py-32">
    <div class="mx-auto container max-lg:p-6">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:px-48">
        <h2 class="text-4xl lg:text-6xl lg:leading-snug font-mada max-w-96">
          {content.services.title}
        </h2>
        <div class="my-6 max-w-[450px]">
          <p class="lg:text-lg">
            {content.services.description}
          </p>
          <Button class="mt-12"> {content.services.button.title} </Button>
        </div>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-10 lg:gap-12 lg:px-48 mt-16 place-items-center"
      >
        {
          content.services.list.map((service) => (
            <ServiceCard
              src={service.image}
              description={service.description}
              alt={service.description}
            />
          ))
        }
      </div>
    </div>
  </section>
  <section id="testimonials" class="bg-accent-300 p-6 py-12 md:py-20 lg:py-32">
    <div
      class="container mx-auto bg-background grid grid-cols-1 lg:grid-cols-2 p-6 lg:py-12 lg:px-48 rounded-3xl gap-8"
    >
      <div class="">
        <p class="font-medium max-w-[400px]">
          {content.testimonials.review}
        </p>
        <div class="flex items-center gap-4 my-8">
          <img
            src={content.testimonials.reviewerProfile}
            alt="Client"
            class="rounded-full size-7"
          />
          <a
            href={content.testimonials.reviewLink}
            class="text-lg font-semibold underline"
          >
            {content.testimonials.reviewerName}
          </a>
        </div>
      </div>
      <div
        class="w-full h-48 lg:h-full rounded-2xl bg-accent-300 max-lg:order-first"
      >
      </div>
    </div>
  </section>
  <section id="contact" class="py-12 lg:py-24 bg-background">
    <div class="mx-auto container lg:px-48 px-6">
      <h2 class="text-4xl lg:text-7xl">
        {content.contact.title}
      </h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 mt-20 gap-8">
        <div class="max-w-[400px]">
          <p class="lg:text-lg">
            {content.contact.description}
          </p>
        </div>
        <div class="bg-[#BEC4C1] rounded-2xl p-4 mx-auto max-w-72">
          <Image
            src={content.contact.image}
            alt="Contact"
            class="rounded-2xl"
          />
          <p class="mt-6">
            <span class="font-semibold">Address: </span>{
              content.contact.address
            }
          </p>
          <p class="mt-2">
            <span class="font-semibold">Phone: </span>{content.contact.phone}
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="">
    
  </footer>

  <script></script>
</BaseLayout>
