---
import Button from "../components/ui/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { EmailForm } from "../components/EmailForm.jsx";

import { Image } from "astro:assets";
import arrow from "../images/arrow.svg";
import teethImage from "../images/teeth.svg";
import toothbrushImage from "../images/toothbrush.svg";
import bottomArrow from "../images/bottom-arrow.svg";
import tooth from "../images/tooth.svg";

import { content } from "../content/_landing";
import ServiceCard from "../components/ServiceCard.astro";
import FooterList from "../components/home/FooterList.astro";
---

<BaseLayout title="SaltLakeCity.Dental">
  <main class="min-h-screen relative w-full overflow-x-hidden flex flex-col">
    <div
      class="size-[60vh] rounded-full absolute -top-[150px] left-[45%] bg-accent -z-10 blur-3xl opacity-70"
    >
    </div>
    <div
      class="size-[60vh] rounded-full absolute -top-[80px] left-[70%] bg-primary blur-3xl opacity-70 -z-20"
    >
    </div>
    <Image
      src={teethImage}
      alt="Teeth"
      class="absolute bottom-[20vh] md:bottom-[25vh] right-[20vw] w-[10vw] min-w-[50px]"
    />

    <header
      class="container w-full flex items-center py-4 lg:py-4 lg:bg-background-200 lg:rounded-3xl lg:mt-5 opacity-100"
    >
      <h1 class="font-montserrat text-lg">{content.title}</h1>
      <nav
        class="hidden lg:flex items-center lg:gap-8 ml-auto text-black font-semibold text-md"
      >
        {
          content.navItems.map((item) => (
            <a href={item.url} class="">
              {item.title}
            </a>
          ))
        }
        <a
          href={content.navButton.url}
          class="bg-foreground text-white px-4 py-2 rounded-xl lg:ml-6"
        >
          {content.navButton.title}
        </a>
      </nav>

      <button
        class="lg:hidden ml-auto"
        aria-label="Open menu"
        aria-haspopup="true"
        aria-controls="mobile-menu"
        id="mobile-menu-button"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>

      <div class="hidden" role="dialog" aria-modal="true" id="mobile-menu">
        <div class="bg-white w-full h-full fixed inset-0 z-50">
          <div class="flex items-center justify-between p-4">
            <a class="font-montserrat text-md" href="/">{content.title}</a>

            <button
              type="button"
              class="-m-2.5 rounded-md p-2.5 text-gray-700"
              id="mobile-menu-button-close"
            >
              <span class="sr-only">Close menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root px-2">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-4 py-6 mt-10 px-4">
                {
                  content.navItems.map((item) => (
                    <a
                      href={item.url}
                      class="font-semibold block text-lg"
                      aria-details="mobile-nav-item"
                    >
                      {item.title}
                    </a>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div
      class="h-full flex-grow container flex flex-col items-center max-md:mt-[10vh] md:justify-center gap-4 lg:gap-8 py-8"
    >
      <h2
        class="text-4xl md:text-5xl lg:text-6xl font-mada lg:mt-10 leading-[50px] lg:leading-[80px] tracking-normal max-w-[500px] text-center"
      >
        {content.hero.title}
      </h2>
      <p
        class="font-medium text-lg lg:text-xl max-w-[530px] text-center lg:mt-3"
      >
        {content.hero.subtitle}
      </p>
      <Button> {content.hero.button.title} </Button>
      <div class="flex items-center gap-4">
        <span class="w-8 h-[0.5px] bg-foreground-200/50"></span>
        <span class="text-foreground-200/50 uppercase text-xs tracking-wider"
          >or</span
        >
        <span class="w-8 h-[0.5px] bg-foreground-200/50"></span>
      </div>
      <EmailForm
        client:load
        buttonCss={"rounded-none rounded-r-3xl bg-foreground/50 text-white"}
        inputCss={"flex h-10 w-full rounded-l-3xl border border-foreground/50 px-4 py-2 text-sm placeholder:text-foreground/50 focus:outline-none disabled:cursor-not-allowed disabled:opacity-50 lg:min-w-[230px]"}
      />
    </div>
  </main>
  <section id="meet-the-doctor" class="w-full lg:py-40 bg-background relative">
    <div class="absolute bottom-[2vh] left-[2vh]">
      <Image
        src={toothbrushImage}
        alt="Toothbrush"
        class="lg:scale-75 w-[8vw]"
      />
      <Image
        src={arrow}
        alt="Arrow"
        class="lg:scale-75 lg:-translate-y-12 w-[9vw]"
      />
    </div>
    <div class="container py-24 lg:py-28 bg-primary-400 lg:rounded-[3rem]">
      <h2 class="text-4xl lg:text-7xl font-mada text-center mb-16 lg:mb-32">
        {content.meetTheDoctor.title}
      </h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-4">
        <div class="">
          <Image
            src={content.meetTheDoctor.doctorProfile}
            alt="Dr. Cierra Diamse"
            class="rounded-3xl mx-auto w-60 lg:w-64"
          />
        </div>
        <div class="mx-auto">
          <p class="lg:text-lg max-w-[500px]">
            <span class="font-bold text-xl block mb-2">
              {content.meetTheDoctor.doctorName}
            </span>
            {content.meetTheDoctor.doctorDescription}
          </p>
          <h3 class="text-lg font-semibold my-6">
            {content.meetTheDoctor.expertise.title}
          </h3>
          <ul class="font-semibold list-disc pl-5">
            {
              content.meetTheDoctor.expertise.list.map((item) => (
                <li>{item}</li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section
    id="transforming-smiles"
    class="bg-foreground-200 py-12 md:py-20 lg:py-28"
  >
    <div class="flex flex-col items-center gap-2 md:gap-4 lg:gap-8">
      <h2
        class="text-4xl lg:text-6xl text-white text-center p-6 max-w-[600px] lg:leading-snug font-mada"
      >
        {content.transformingSmiles.title}
      </h2>
      <div
        class="container bg-white grid grid-cols-1 lg:grid-cols-2 gap-20 lg:gap-48 lg:rounded-[2rem] py-16 lg:py-24"
      >
        <div class="flex flex-col items-center justify-center mx-auto gap-4">
          <Image
            src={content.transformingSmiles.before.image}
            alt="Before"
            class="max-w-[200px] rounded-2xl"
          />
          <p class="text-lg">
            {content.transformingSmiles.before.description}
          </p>
        </div>
        <div class="flex flex-col items-center justify-center mx-auto gap-4">
          <Image
            src={content.transformingSmiles.after.image}
            alt="After"
            class="max-w-[200px] rounded-2xl"
          />
          <p class="text-lg">
            {content.transformingSmiles.after.description}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="bg-background py-12 md:py-24 lg:py-32">
    <div class="container max-lg:p-6">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <h2 class="text-4xl lg:text-6xl lg:leading-snug font-mada max-w-96">
          {content.services.title}
        </h2>
        <div class="my-6 max-w-[450px]">
          <p class="lg:text-lg">
            {content.services.description}
          </p>
          <Button class="mt-12"> {content.services.button.title} </Button>
        </div>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-10 lg:gap-12 mt-16"
      >
        {
          content.services.list.map((service) => (
            <ServiceCard
              src={service.image}
              description={service.description}
              alt={service.description}
            />
          ))
        }
      </div>
    </div>
  </section>
  <section id="testimonials" class="bg-accent-300 md:py-20 lg:py-32">
    <div
      class="container bg-background grid grid-cols-1 lg:grid-cols-2 p-6 md:p-10 lg:p-12 lg:py-12 lg:rounded-[2rem] gap-8"
    >
      <div class="">
        <p class="font-medium w-full md:w-[400px]">
          {content.testimonials.review}
        </p>
        <div class="flex items-center gap-4 my-8">
          <Image
            src={content.testimonials.reviewerProfile}
            alt="Client"
            class="rounded-full size-7"
          />
          <a
            href={content.testimonials.reviewLink}
            class="text-lg font-semibold underline"
          >
            {content.testimonials.reviewerName}
          </a>
        </div>
      </div>
      <div
        class="w-full h-48 lg:h-full rounded-[2rem] bg-accent-300 max-lg:order-first"
      >
      </div>
    </div>
  </section>
  <section id="contact" class="py-12 lg:py-24 bg-background relative">
    <div class="absolute top-[11vh] right-[10vh]">
      <Image
        src={tooth}
        alt="Tooth"
        class="w-[6vw] max-w-[40px] -translate-x-8"
      />
      <Image src={bottomArrow} alt="Arrow" class="w-[6vw] max-w-[50px]" />
    </div>
    <div class="container">
      <h2 class="text-4xl lg:text-7xl">
        {content.contact.title}
      </h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 mt-20 gap-8">
        <div class="md:max-w-[500px]">
          <p class="lg:text-lg">
            {content.contact.description}
          </p>
        </div>
        <div class="bg-[#BEC4C1] rounded-2xl p-4 md:ml-auto md:max-w-72">
          <Image
            src={content.contact.image}
            alt="Contact"
            class="rounded-2xl"
          />
          <p class="mt-6">
            <span class="font-semibold">Address: </span>{
              content.contact.address
            }
          </p>
          <p class="mt-2">
            <span class="font-semibold">Phone: </span>{content.contact.phone}
          </p>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-[#333333] pt-4 lg:pt-16 relative overflow-y-hidden">
    <div
      class="size-[100px] lg:size-[300px] absolute rounded-full -bottom-40 right-0 bg-accent z-10 blur-2xl opacity-40"
    >
    </div>
    <div
      class="size-[100px] lg:size-[300px] absolute rounded-full -bottom-40 right-40 bg-primary z-10 blur-2xl opacity-40"
    >
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-5 gap-12 lg:gap-4 container py-4">
      <FooterList
        title={content.footer.social.title}
        items={content.footer.social.list}
      />
      <FooterList
        title={content.footer.about.title}
        items={content.footer.about.list}
      />
      <FooterList
        title={content.footer.documentation.title}
        items={content.footer.documentation.list}
      />
      <div class="lg:col-span-2">
        <h4 class="text-[#BEC4C1] text-[12px] font-medium uppercase">
          Newsletter
        </h4>

        <EmailForm
          client:load
          buttonCss={"mt-4 rounded-none rounded-r-3xl bg-white text-foreground"}
          inputCss="mt-4 flex h-10 w-full text-white lg:min-w-[230px] rounded-l-3xl border border-white px-4 py-2 text-sm placeholder:text-white disabled:opacity-50 focus:outline-none bg-transparent"
        />
        <p class="text-sm text-white mt-4 px-1">
          {content.footer.newsLetter.message}
        </p>
      </div>
    </div>
    <div
      class="container border-t border-white py-4 mt-8 flex items-start gap-3"
    >
      <div class="flex flex-col gap-1">
        <p class="text-white font-montserrat">
          {content.footer.copyRight}
        </p>
        <p class="text-sm text-white font-montserrat hidden lg:block">
          {content.footer.copyRightDescription}
        </p>
      </div>
      <a href="#" class="ml-auto text-white text-sm hover:underline z-40">
        Terms
      </a>
      <a href="#" class="text-white text-sm hover:underline z-40"> Privacy </a>
    </div>
  </footer>
</BaseLayout>

<script>
  document
    .getElementById("mobile-menu-button")
    ?.addEventListener("click", () => {
      document.getElementById("mobile-menu")?.classList.toggle("hidden");
    });

  document
    .getElementById("mobile-menu-button-close")
    ?.addEventListener("click", () => {
      document.getElementById("mobile-menu")?.classList.add("hidden");
    });
</script>
